openapi: 3.0.0
info:
  description: "Oxford Dictionaries, part of the Oxford Language Division, is a leading\
    \ authority on the English language. It offers a wide range of language resources,\
    \ including dictionaries, thesauruses, grammar guides, and language learning tools.\
    \ Oxford Dictionaries provides accurate and up-to-date definitions, word origins,\
    \ and usage examples to support language comprehension and communication."
  license:
    name: API Terms And Conditions
    url: https://developer.oxforddictionaries.com/api-terms-and-conditions
  termsOfService: http://helloreverb.com/terms/
  title: Oxford Dictionaries
  version: 1.11.0
  x-apisguru-categories:
  - text
  x-logo:
    url: https://twitter.com/OxfordWordsAPI/profile_image?size=original
  x-origin:
  - version: "3.0"
    format: openapi
    url: https://developer.oxforddictionaries.com/swagger/spec/public_doc_guest.json
  x-providerName: oxforddictionaries.com
  x-api-status-urls:
  - https://od-api.oxforddictionaries.com/api/v2/
  x-konfig-has-globally-required-security: true
servers:
- url: https://od-api-demo.oxforddictionaries.com:443/api/v1
security:
- appId: []
- appKey: []
tags:
- name: Utility
- name: Dictionary entries
- name: Thesaurus
- name: LexiStats
- name: Search
- name: Wordlist
- name: The Sentence Dictionary
- name: Translation
- name: Lemmatron
paths:
  /domains/{source_domains_language}/{target_domains_language}:
    get:
      description: |
        Returns a list of the available [domains](documentation/glossary?term=domain) for a given bilingual language dataset.
      operationId: Utility_listAvailableDomains
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_domains_language
        required: true
        schema:
          enum:
          - en
          - es
          - nso
          - zu
          - ur
          - de
          - pt
          type: string
        style: simple
      - description: IANA language code
        explode: false
        in: path
        name: target_domains_language
        required: true
        schema:
          enum:
          - es
          - nso
          - zu
          - ms
          - id
          - tn
          - ro
          - de
          - pt
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityLabels'
          description: Successful response.
        "400":
          description: source_language and target_language are same.
        "404":
          description: Unknown source_language and/or target_language.
      security:
      - appId: []
        appKey: []
      summary: Lists available domains in a bilingual dataset
      tags:
      - Utility
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--domains-source_domains_language-target_domains_language
      x-accepts: application/json
  /domains/{source_language}:
    get:
      description: |
        Returns a list of the available [domains](documentation/glossary?term=domain) for a given monolingual language dataset.
      operationId: Utility_listMonolingualDomains
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_language
        required: true
        schema:
          enum:
          - en
          - es
          - nso
          - zu
          - hi
          - sw
          - ur
          - de
          - pt
          - ta
          - gu
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityLabels'
          description: Successful response.
        "404":
          description: Unknown source_language.
      security:
      - appId: []
        appKey: []
      summary: Lists available domains in a monolingual dataset
      tags:
      - Utility
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--domains-source_language
      x-accepts: application/json
  /entries/{source_language}/{word_id}/sentences:
    get:
      description: |2

        Use this to retrieve sentences extracted from  corpora which show how a word is used in the language. This is available for English and Spanish. For English, the sentences are linked to the correct [sense](documentation/glossary?term=sense) of the word in the dictionary. In Spanish, they are linked at the [headword](documentation/glossary?term=headword) level.
          <div id="sentences"></div>
      externalDocs:
        description: find more info here
        url: https://helloreverb.com/about
      operationId: TheSentenceDictionary_getCorpusSentences
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_language
        required: true
        schema:
          enum:
          - en
          - es
          type: string
        style: simple
      - description: An Entry identifier. Case-sensitive.
        explode: false
        in: path
        name: word_id
        required: true
        schema:
          default: ace
          example: ace
          type: string
          x-konfig-original-example: ace
          x-konfig-generated-schema: konfig-generated-schema-paths--entries-source_language-word_id-sentences-get-parameters-1-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentencesResults'
          description: Successful response.
        "404":
          description: |
            No entry is found matching supplied id and source_language
        "500":
          description: |
            Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Retrieve corpus sentences for a given word
      tags:
      - The Sentence Dictionary
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--entries-source_language-word_id-sentences
      x-accepts: application/json
  /entries/{source_lang}/{word_id}:
    get:
      description: "\nUse this to retrieve definitions, [pronunciations](documentation/glossary?term=pronunciation),\
        \ example sentences, [grammatical information](documentation/glossary?term=grammaticalfeatures)\
        \ and [word origins](documentation/glossary?term=etymology). It only works\
        \ for dictionary [headwords](documentation/glossary?term=headword), so you\
        \ may need to use the [Lemmatron](documentation/glossary?term=lemma) first\
        \ if your input is likely to be an [inflected](documentation/glossary?term=inflection)\
        \ form (e.g., 'swimming'). This would return the linked [headword](documentation/glossary?term=headword)\
        \ (e.g., 'swim') which you can then use in the Entries endpoint. Unless specified\
        \ using a region filter, the default lookup will be the Oxford Dictionary\
        \ of English (GB). \n  <div id=\"dictionary_entries\"></div>\n"
      externalDocs:
        description: find more info here
        url: https://helloreverb.com/about
      operationId: DictionaryEntries_getInformation
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en
          - es
          - lv
          - hi
          - sw
          - ta
          - gu
          - fr
          type: string
        style: simple
      - description: An Entry identifier. Case-sensitive.
        explode: false
        in: path
        name: word_id
        required: true
        schema:
          default: ace
          example: ace
          type: string
          x-konfig-original-example: ace
          x-konfig-generated-schema: konfig-generated-schema-paths--entries-source_lang-word_id-get-parameters-1-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveEntry'
          description: Successful response.
        "404":
          description: |
            No entry is found matching supplied id and source_lang or filters are not recognized
        "500":
          description: |
            Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Retrieve dictionary information for a given word
      tags:
      - Dictionary entries
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--entries-source_lang-word_id
      x-accepts: application/json
  /entries/{source_lang}/{word_id}/antonyms:
    get:
      description: |2

        Retrieve words that are opposite in meaning to the input word ([antonym](documentation/glossary?term=thesaurus)).

          <div id="antonyms"></div>
      externalDocs:
        description: find more info here
        url: https://helloreverb.com/about
      operationId: Thesaurus_getAntonyms
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en
          type: string
        style: simple
      - description: An Entry identifier. Case-sensitive.
        explode: false
        in: path
        name: word_id
        required: true
        schema:
          default: ace
          example: ace
          type: string
          x-konfig-original-example: ace
          x-konfig-generated-schema: konfig-generated-schema-paths--entries-source_lang-word_id-antonyms-get-parameters-1-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thesaurus'
          description: Successful response.
        "404":
          description: |
            No entry is found matching supplied id and source_lang or filters are not recognized
        "500":
          description: |
            Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Retrieve words that mean the opposite
      tags:
      - Thesaurus
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--entries-source_lang-word_id-antonyms
      x-accepts: application/json
  /entries/{source_lang}/{word_id}/regions={region}:
    get:
      description: |2

        USe this filter to restrict the lookup to either our Oxford Dictionary of English (GB) or New Oxford American Dictionary (US).
      externalDocs:
        description: find more info here
        url: https://helloreverb.com/about
      operationId: DictionaryEntries_specifyDictionaryRegion
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en
          type: string
        style: simple
      - description: An Entry identifier. Case-sensitive.
        explode: false
        in: path
        name: word_id
        required: true
        schema:
          default: ace
          example: ace
          type: string
          x-konfig-original-example: ace
          x-konfig-generated-schema: konfig-generated-schema-paths--entries-source_lang-word_id-regions=region-get-parameters-1-schema
        style: simple
      - description: Region filter parameter. gb = Oxford Dictionary of English. us
          = New Oxford American Dictionary.
        explode: false
        in: path
        name: region
        required: true
        schema:
          enum:
          - gb
          - us
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveEntry'
          description: Successful response.
        "404":
          description: "no entry is found matching supplied source_lang and id\nand/or\
            \ that entry has no senses with translations in the target language. \n"
        "500":
          description: |
            Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Specify GB or US dictionary for English entry search
      tags:
      - Dictionary entries
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--entries-source_lang-word_id-regions=region
      x-accepts: application/json
  /entries/{source_lang}/{word_id}/synonyms:
    get:
      description: |2

        Use this to retrieve words that are similar in meaning to the input word ([synonym](documentation/glossary?term=synonym)).

          <div id="synonyms"></div>
      externalDocs:
        description: find more info here
        url: https://helloreverb.com/about
      operationId: Thesaurus_getSimilarWords
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en
          type: string
        style: simple
      - description: An Entry identifier. Case-sensitive.
        explode: false
        in: path
        name: word_id
        required: true
        schema:
          default: ace
          example: ace
          type: string
          x-konfig-original-example: ace
          x-konfig-generated-schema: konfig-generated-schema-paths--entries-source_lang-word_id-synonyms-get-parameters-1-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thesaurus'
          description: Successful response.
        "404":
          description: |
            No entry is found matching supplied id and source_lang or filters are not recognized
        "500":
          description: |
            Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Retrieve words that are similar
      tags:
      - Thesaurus
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--entries-source_lang-word_id-synonyms
      x-accepts: application/json
  /entries/{source_lang}/{word_id}/synonyms;antonyms:
    get:
      description: "\nRetrieve available [synonyms](documentation/glossary?term=thesaurus)\
        \ and [antonyms](documentation/glossary?term=thesaurus) for a given word and\
        \ language. \n\n  <div id=\"synonyms_and_antonyms\"></div>\n"
      externalDocs:
        description: find more info here
        url: https://helloreverb.com/about
      operationId: Thesaurus_getSynonymsAntonyms
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en
          type: string
        style: simple
      - description: An Entry identifier. Case-sensitive.
        explode: false
        in: path
        name: word_id
        required: true
        schema:
          default: ace
          example: ace
          type: string
          x-konfig-original-example: ace
          x-konfig-generated-schema: konfig-generated-schema-paths--entries-source_lang-word_id-synonyms;antonyms-get-parameters-1-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thesaurus'
          description: Successful response.
        "404":
          description: |
            No entry is found matching supplied id and source_lang or filters are not recognized
        "500":
          description: |
            Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Retrieve synonyms and antonyms for a given word
      tags:
      - Thesaurus
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--entries-source_lang-word_id-synonyms;antonyms
      x-accepts: application/json
  /entries/{source_lang}/{word_id}/{filters}:
    get:
      description: |2

        Use filters to limit the [entry](documentation/glossary?term=entry) information that is returned. For example, you may only require definitions and not everything else, or just [pronunciations](documentation/glossary?term=pronunciation). The full list of filters can be retrieved from the filters Utility endpoint. You can also specify values within the filter using '='. For example 'grammaticalFeatures=singular'. Filters can also be combined using a semicolon.

          <div id="dictionary_entries_filters"></div>
      operationId: DictionaryEntries_applyFilters
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en
          - es
          - lv
          - hi
          - sw
          - ta
          - gu
          - fr
          type: string
        style: simple
      - description: An Entry identifier. Case-sensitive.
        explode: false
        in: path
        name: word_id
        required: true
        schema:
          default: ace
          example: ace
          type: string
          x-konfig-original-example: ace
          x-konfig-generated-schema: konfig-generated-schema-paths--entries-source_lang-word_id-filters-get-parameters-1-schema
        style: simple
      - description: Separate filtering conditions using a semicolon. Conditions take
          values grammaticalFeatures and/or lexicalCategory and are case-sensitive.
          To list multiple values in single condition divide them with comma.
        explode: false
        in: path
        name: filters
        required: true
        schema:
          example: "grammaticalFeatures=singular,past;lexicalCategory=noun"
          items:
            pattern: (lexicalCategory|grammaticalFeatures)=.+
            type: string
          type: array
          x-konfig-original-example: "grammaticalFeatures=singular,past;lexicalCategory=noun"
          x-konfig-generated-schema: konfig-generated-schema-paths--entries-source_lang-word_id-filters-get-parameters-2-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveEntry'
          description: Successful response.
        "404":
          description: "no entry is found matching supplied source_lang and id\nand/or\
            \ that entry has no senses with translations in the target language. \n"
        "500":
          description: |
            Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Apply filters to response
      tags:
      - Dictionary entries
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--entries-source_lang-word_id-filters
      x-accepts: application/json
  /entries/{source_translation_language}/{word_id}/translations={target_translation_language}:
    get:
      description: |2

        Use this to return translations for a given word. In the event that a word in the dataset does not have a direct translation, the response will be a [definition](documentation/glossary?term=entry) in the target language.

          <div id="translation"></div>
      operationId: Translation_getWordTranslation
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_translation_language
        required: true
        schema:
          enum:
          - en
          - es
          - nso
          - zu
          - ms
          - id
          - tn
          - ur
          - de
          - pt
          type: string
        style: simple
      - description: The source word
        explode: false
        in: path
        name: word_id
        required: true
        schema:
          default: change
          example: change
          type: string
          x-konfig-original-example: change
          x-konfig-generated-schema: konfig-generated-schema-paths--entries-source_translation_language-word_id-translations=target_translation_language-get-parameters-1-schema
        style: simple
      - description: IANA language code
        explode: false
        in: path
        name: target_translation_language
        required: true
        schema:
          enum:
          - es
          - nso
          - zu
          - ms
          - id
          - tn
          - ro
          - de
          - pt
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveEntry'
          description: Successful response. In case word doesn't have a direct translation
            a response would be definitions.
        "400":
          description: any of target languages is unknown
        "404":
          description: "no entry is found matching supplied source_lang and id\nand/or\
            \ that entry has no senses with translations in the target language(s).\
            \ \n"
        "500":
          description: |
            Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Retrieve translation for a given word
      tags:
      - Translation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--entries-source_translation_language-word_id-translations=target_translation_language
      x-accepts: application/json
  /filters:
    get:
      description: |
        Returns a list of all the valid filters to construct API calls.
      operationId: Utility_listAvailableFilters
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Filters'
          description: Successful response.
        "500":
          description: Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Lists available filters
      tags:
      - Utility
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--filters
      x-accepts: application/json
  /filters/{endpoint}:
    get:
      description: |
        Returns a list of all the valid filters for a given endpoint to construct API calls.
      operationId: Utility_listEndpointFilters
      parameters:
      - description: Name of the endpoint.
        explode: false
        in: path
        name: endpoint
        required: true
        schema:
          enum:
          - entries
          - inflections
          - translations
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Filters'
          description: Successful response.
        "404":
          description: Unknown endpoint.
        "500":
          description: Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Lists available filters for specific endpoint
      tags:
      - Utility
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--filters-endpoint
      x-accepts: application/json
  /grammaticalFeatures/{source_language}:
    get:
      description: |
        Returns a list of the available [grammatical features](documentation/glossary?term=grammaticalfeatures) for a given language dataset.
      operationId: Utility_getGrammaticalFeatures
      parameters:
      - description: IANA language code. If provided output will be filtered by sourceLanguage.
        explode: false
        in: path
        name: source_language
        required: true
        schema:
          enum:
          - en
          - es
          - lv
          - nso
          - zu
          - ms
          - tn
          - ur
          - hi
          - sw
          - de
          - pt
          - ta
          - gu
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityLabels'
          description: Successful response.
        "404":
          description: Unknown source_language.
      security:
      - appId: []
        appKey: []
      summary: Lists available grammatical features in a dataset
      tags:
      - Utility
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--grammaticalFeatures-source_language
      x-accepts: application/json
  /inflections/{source_lang}/{word_id}/{filters}:
    get:
      description: |2

        Use this to check if a word exists in the dictionary, or what 'root' form it links to (e.g., swimming > swim). The response tells you the possible [lemmas](documentation/glossary?term=lemma) for a given [inflected](documentation/glossary?term=inflection) word. This can then be combined with other endpoints to retrieve more information.

          <div id="lemmatron"></div>
      operationId: Lemmatron_checkAndRetrieveRootForm
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en
          - es
          - hi
          - nso
          - tn
          - zu
          - de
          - pt
          type: string
        style: simple
      - description: Separate filtering conditions using a semicolon. Conditions take
          values grammaticalFeatures and/or lexicalCategory and are case-sensitive.
          To list multiple values in single condition divide them with comma.
        explode: false
        in: path
        name: filters
        required: true
        schema:
          example: "grammaticalFeatures=singular,past;lexicalCategory=noun"
          items:
            pattern: (lexicalCategory|grammaticalFeatures)=.+
            type: string
          type: array
          x-konfig-original-example: "grammaticalFeatures=singular,past;lexicalCategory=noun"
          x-konfig-generated-schema: konfig-generated-schema-paths--inflections-source_lang-word_id-filters-get-parameters-1-schema
        style: simple
      - description: The input word
        explode: false
        in: path
        name: word_id
        required: true
        schema:
          default: swimming
          example: swimming
          type: string
          x-konfig-original-example: swimming
          x-konfig-generated-schema: konfig-generated-schema-paths--inflections-source_lang-word_id-filters-get-parameters-2-schema
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lemmatron'
          description: Successful response.
        "500":
          description: |
            Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Check a word exists in the dictionary and retrieve its root form
      tags:
      - Lemmatron
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--inflections-source_lang-word_id-filters
      x-accepts: application/json
  /languages:
    get:
      description: |
        Returns a list of monolingual and bilingual language datasets available in the API
      operationId: Utility_listAvailableLanguages
      parameters:
      - description: IANA language code. If provided output will be filtered by sourceLanguage.
        explode: true
        in: query
        name: sourceLanguage
        required: false
        schema:
          enum:
          - es
          - en
          - lv
          - nso
          - zu
          - ms
          - id
          - tn
          - ur
          - hi
          - sw
          - ro
          - de
          - pt
          - ta
          - gu
          type: string
        style: form
      - description: IANA language code. If provided output will be filtered by sourceLanguage.
        explode: true
        in: query
        name: targetLanguage
        required: false
        schema:
          enum:
          - es
          - en
          - lv
          - nso
          - zu
          - ms
          - id
          - tn
          - ur
          - hi
          - sw
          - ro
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Languages'
          description: Successful response.
        "404":
          description: Unknown sourceLanguage and/or targetLanguage.
        "500":
          description: Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Lists available dictionaries
      tags:
      - Utility
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--languages
      x-accepts: application/json
  /lexicalcategories/{language}:
    get:
      description: |
        Returns a list of available [lexical categories](documentation/glossary?term=lexicalcategory) for a given language dataset.
      operationId: Utility_getLexicalCategories
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: language
        required: true
        schema:
          enum:
          - es
          - en
          - lv
          - nso
          - zu
          - ms
          - id
          - tn
          - ur
          - hi
          - sw
          - ro
          - de
          - pt
          - ta
          - gu
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityLabels'
          description: Successful response.
        "404":
          description: Unknown language.
        "500":
          description: Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Lists available lexical categories in a dataset
      tags:
      - Utility
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--lexicalcategories-language
      x-accepts: application/json
  /regions/{source_language}:
    get:
      description: |
        Returns a list of the available [regions](documentation/glossary?term=regions) for a given monolingual language dataset.
      operationId: Utility_listMonolingualRegions
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_language
        required: true
        schema:
          enum:
          - en
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Regions'
          description: Successful response.
        "404":
          description: Unknown source_language.
      security:
      - appId: []
        appKey: []
      summary: Lists available regions in a monolingual dataset
      tags:
      - Utility
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--regions-source_language
      x-accepts: application/json
  /registers/{source_language}:
    get:
      description: |
        Returns a list of the available [registers](documentation/glossary?term=registers) for a given monolingual language dataset.
      operationId: Utility_listMonolingualRegisters
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_language
        required: true
        schema:
          enum:
          - en
          - es
          - hi
          - id
          - lv
          - ms
          - sw
          - ur
          - de
          - pt
          - ta
          - gu
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityLabels'
          description: Successful response.
        "404":
          description: Unknown source_language.
        "500":
          description: Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Lists available registers in a  monolingual dataset
      tags:
      - Utility
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--registers-source_language
      x-accepts: application/json
  /registers/{source_register_language}/{target_register_language}:
    get:
      description: |
        Returns a list of the available [registers](documentation/glossary?term=registers) for a given bilingual language dataset.
      operationId: Utility_listBilingualRegisters
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_register_language
        required: true
        schema:
          enum:
          - en
          - es
          - ms
          - id
          - ur
          - de
          - pt
          type: string
        style: simple
      - description: IANA language code
        explode: false
        in: path
        name: target_register_language
        required: true
        schema:
          enum:
          - es
          - en
          - nso
          - zu
          - ms
          - id
          - tn
          - ro
          - de
          - pt
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityLabels'
          description: Successful response.
        "400":
          description: source_language and target_language are same.
        "404":
          description: Unknown source_language and/or target_language.
        "500":
          description: Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Lists available registers in a bilingual dataset
      tags:
      - Utility
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--registers-source_register_language-target_register_language
      x-accepts: application/json
  /search/{source_lang}:
    get:
      description: "\nUse this to retrieve possible [headword](documentation/glossary?term=headword)\
        \ matches for a given string of text. The results are culculated using headword\
        \ matching, fuzzy matching, and [lemmatization](documentation/glossary?term=lemma)\
        \ \n\n  <div id=\"search\"></div>\n"
      externalDocs:
        description: find more info here
        url: https://helloreverb.com/about
      operationId: Search_getMatches
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en
          - es
          - hi
          - lv
          - sw
          - ta
          - gu
          type: string
        style: simple
      - description: Search string
        explode: true
        in: query
        name: q
        required: false
        schema:
          default: eye
          example: eye
          type: string
          x-konfig-original-example: eye
          x-konfig-generated-schema: konfig-generated-schema-paths--search-source_lang-get-parameters-1-schema
        style: form
      - description: Set prefix to true if you'd like to get results only starting
          with search string.
        explode: true
        in: query
        name: prefix
        required: false
        schema:
          default: false
          enum:
          - false
          - true
          example: false
          type: boolean
          x-konfig-original-example: "false"
          x-konfig-generated-schema: konfig-generated-schema-paths--search-source_lang-get-parameters-2-schema
        style: form
      - description: "If searching in English, filter words with specific region(s)\
          \ either 'us' or 'gb'."
        explode: true
        in: query
        name: regions
        required: false
        schema:
          type: string
        style: form
      - description: Limit the number of results per response. Default and maximum
          limit is 5000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      - description: Offset the start number of the result.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wordlist'
          description: Successful response.
        "404":
          description: |
            No entry is found matching supplied id and source_lang or filters are not recognized
        "500":
          description: |
            Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Retrieve possible matches to input
      tags:
      - Search
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--search-source_lang
      x-accepts: application/json
  /search/{source_search_language}/translations={target_search_language}:
    get:
      description: |2

        Use this to find matches in our translation dictionaries.

          <div id="search_translation"></div>
      externalDocs:
        description: find more info here
        url: https://helloreverb.com/about
      operationId: Search_possibleTranslations
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_search_language
        required: true
        schema:
          enum:
          - en
          - es
          - nso
          - zu
          - ms
          - id
          - tn
          - ur
          - de
          - pt
          type: string
        style: simple
      - description: IANA language code
        explode: false
        in: path
        name: target_search_language
        required: true
        schema:
          enum:
          - es
          - nso
          - zu
          - ms
          - id
          - tn
          - ro
          - de
          - pt
          type: string
        style: simple
      - description: Search string.
        explode: true
        in: query
        name: q
        required: false
        schema:
          default: eye
          example: eye
          type: string
          x-konfig-original-example: eye
          x-konfig-generated-schema: konfig-generated-schema-paths--search-source_search_language-translations=target_search_language-get-parameters-2-schema
        style: form
      - description: Set prefix to true if you'd like to get results only starting
          with search string.
        explode: true
        in: query
        name: prefix
        required: false
        schema:
          default: false
          enum:
          - false
          - true
          example: false
          type: boolean
          x-konfig-original-example: "false"
          x-konfig-generated-schema: konfig-generated-schema-paths--search-source_search_language-translations=target_search_language-get-parameters-3-schema
        style: form
      - description: "Filter words with specific region(s) E.g., regions=us. For now\
          \ gb, us are available for en language."
        explode: true
        in: query
        name: regions
        required: false
        schema:
          type: string
        style: form
      - description: Limit the number of results per response. Default and maximum
          limit is 5000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      - description: Offset the start number of the result.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wordlist'
          description: Successful response.
        "404":
          description: |
            No entry is found matching supplied id and source_lang or filters are not recognized
        "500":
          description: |
            Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Retrieve possible translation matches to input
      tags:
      - Search
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--search-source_search_language-translations=target_search_language
      x-accepts: application/json
  /wordlist/{source_lang}/{filters_advanced}:
    get:
      description: "Use this to apply more complex filters to the [list of words](documentation/glossary?term=wordlist).\
        \ For example, you may only want to filter out words for which all [senses](documentation/glossary?term=sense)\
        \ match the filter, or only its 'prime sense'. You can also filter by word\
        \ length or match by substring (prefix). \n\n  <div id=\"wordlist_advanced\"\
        ></div>\n"
      operationId: Wordlist_getAdvancedWords
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en
          - es
          - hi
          - lv
          - sw
          - ta
          - gu
          type: string
        style: simple
      - description: "Semicolon separated list of wordlist parameters, presented as\
          \ value pairs: LexicalCategory, domains, regions, registers. Parameters\
          \ can take comma separated list of values. E.g., lexicalCategory=noun,adjective;domains=sport.\
          \ Number of values limited to 5."
        explode: false
        in: path
        name: filters_advanced
        required: true
        schema:
          default: lexicalCategory=Noun;domains=sport
          example: lexicalCategory=Noun;domains=sport
          type: string
          x-konfig-original-example: lexicalCategory=Noun;domains=sport
          x-konfig-generated-schema: konfig-generated-schema-paths--wordlist-source_lang-filters_advanced-get-parameters-1-schema
        style: simple
      - description: "Semicolon separated list of parameters-value pairs (same as\
          \ filters). Excludes headwords that have any senses in specified exclusion\
          \ attributes (lexical categories, domains, etc.) from results."
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          type: string
        style: form
      - description: "Semicolon separated list of parameters-value pairs (same as\
          \ filters). Excludes only those senses of a particular headword that match\
          \ specified exclusion attributes (lexical categories, domains, etc.) from\
          \ results but includes the headword if it has other permitted senses."
        explode: true
        in: query
        name: exclude_senses
        required: false
        schema:
          type: string
        style: form
      - description: "Semicolon separated list of parameters-value pairs (same as\
          \ filters). Excludes a headword only if the primary sense matches the specified\
          \ exclusion attributes (registers, domains only)."
        explode: true
        in: query
        name: exclude_prime_senses
        required: false
        schema:
          type: string
        style: form
      - description: "Parameter to speficy the minimum (>), exact or maximum (<) length\
          \ of the words required. E.g., >5 - more than 5 chars; <4 - less than 4\
          \ chars; >5<10 - from 5 to 10 chars; 3 - exactly 3 chars."
        explode: true
        in: query
        name: word_length
        required: false
        schema:
          default: ">5,<10"
          example: ">5,<10"
          type: string
          x-konfig-original-example: ">5,<10"
          x-konfig-generated-schema: konfig-generated-schema-paths--wordlist-source_lang-filters_advanced-get-parameters-5-schema
        style: form
      - description: Filter words that start with prefix parameter
        explode: true
        in: query
        name: prefix
        required: false
        schema:
          default: goal
          example: goal
          type: string
          x-konfig-original-example: goal
          x-konfig-generated-schema: konfig-generated-schema-paths--wordlist-source_lang-filters_advanced-get-parameters-6-schema
        style: form
      - description: If exact=true wordlist returns a list of entries that exactly
          matches the search string. Otherwise wordlist lists entries that start with
          prefix string.
        explode: true
        in: query
        name: exact
        required: false
        schema:
          default: false
          enum:
          - false
          - true
          example: false
          type: boolean
          x-konfig-original-example: "false"
          x-konfig-generated-schema: konfig-generated-schema-paths--wordlist-source_lang-filters_advanced-get-parameters-7-schema
        style: form
      - description: Limit the number of results per response. Default and maximum
          limit is 5000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      - description: Offset the start number of the result.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wordlist'
          description: Successful response.
        "400":
          description: disjoint sets of word_length values (eg <3>10); filter has
            no values; total number of filters > 20; filters and excludes values can
            not be the same; source_lang and translations can not be same; word_length
            conflicts with prefix length.
        "404":
          description: |
            No entries is found matching supplied filters or lang or filters is not recognized.
        "500":
          description: |
            Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Retrieve list of words for category with advanced options
      tags:
      - Wordlist
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--wordlist-source_lang-filters_advanced
      x-accepts: application/json
  /wordlist/{source_lang}/{filters_basic}:
    get:
      description: |2

        Use this to retrieve a [list of words](documentation/glossary?term=wordlist) for particular [domain](documentation/glossary?term=domain), [lexical category](documentation/glossary?term=lexicalcategory), [register](documentation/glossary?term=registers) and/or [region](documentation/glossary?term=regions). View the full list of possible filters using the filters Utility endpoint.  The response only includes [headwords](documentation/glossary?term=headword), not all their possible [inflections](documentation/glossary?term=inflection). If you require a full [wordlist](documentation/glossary?term=wordlist) including [inflected forms](documentation/glossary?term=inflection), contact us and we can help.

          <div id="wordlist"></div>
      operationId: Wordlist_getCategoryWords
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_lang
        required: true
        schema:
          enum:
          - en
          - es
          - hi
          - lv
          - sw
          - ta
          - gu
          type: string
        style: simple
      - description: "Semicolon separated list of wordlist parameters, presented as\
          \ value pairs: LexicalCategory, domains, regions, registers. Parameters\
          \ can take comma separated list of values. E.g., lexicalCategory=noun,adjective;domains=sport.\
          \ Number of values limited to 5."
        explode: false
        in: path
        name: filters_basic
        required: true
        schema:
          default: registers=Rare;domains=Art
          example: registers=Rare;domains=Art
          type: string
          x-konfig-original-example: registers=Rare;domains=Art
          x-konfig-generated-schema: konfig-generated-schema-paths--wordlist-source_lang-filters_basic-get-parameters-1-schema
        style: simple
      - description: Limit the number of results per response. Default and maximum
          limit is 5000.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: string
        style: form
      - description: Offset the start number of the result
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wordlist'
          description: Successful response.
        "400":
          description: filter has no values; total number of filters > 20.
        "404":
          description: |
            No entries is found matching supplied filters or lang or filters is not recognized.
        "500":
          description: |
            Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Retrieve a list of words in a category
      tags:
      - Wordlist
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--wordlist-source_lang-filters_basic
      x-accepts: application/json
  /stats/frequency/ngrams/{source_lang}/{corpus}/{ngram-size}:
    get:
      description: |
        This endpoint returns frequencies of ngrams of size 1-4. That is the number of times a word (ngram size = 1) or words (ngram size > 1) appear in the corpus. Ngrams are case sensitive ("I AM" and "I am" will have different frequency) and frequencies are calculated per word (true case) so "the book" and "the books" are two different ngrams. The results can be filtered based on query parameters. <br> <br> Parameters can be provided in PATH, GET or POST (form or json). The parameters in PATH are overridden by parameters in GET, POST and json (in that order). In PATH, individual options are separated by semicolon and values are separated by commas (where multiple values can be used). <br> <br> Example for bigrams (ngram of size 2):
        * PATH: /tokens=a word,another word
        * GET: /?tokens=a word&tokens=another word
        * POST (json):

          ```javascript
            {
                "tokens": ["a word", "another word"]
            }
          ```

        Either "tokens" or "contains" has to be provided. <br> <br> Some queries with "contains" or "sort" can exceed the 30s timeout, in which case the API will return an error message with status code 503. You mitigate this by providing additional restrictions such as "minFrequency" and "maxFrequency". <br> <br> You can use the parameters "offset" and "limit" to paginate through large result sets. For convenience, the HTTP header "Link" is set on the response to provide links to "first", "self", "next", "prev" and "last" pages of results (depending on the context). For example, if the result set contains 50 results and the parameter "limit" is set to 25, the Links header will contain an URL for the first 25 results and the next 25 results. <br> <br> Some libraries such as python's `requests` can parse the header automatically and offer a convenient way of iterating through the results. For example:
        ```python def get_all_results(url):
            while url:
                r = requests.get(url)
                r.raise_for_status()
                for item in r.json()['results']:
                  yield item
                url = r.links.get('next', {}).get('url')
        ```
      operationId: LexiStats_getNgramFrequencies
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_lang
        required: true
        schema:
          default: en
          example: en
          type: string
          x-konfig-original-example: en
          x-konfig-generated-schema: konfig-generated-schema-paths--stats-frequency-ngrams-source_lang-corpus-ngram-size-get-parameters-0-schema
        style: simple
      - description: For corpora other than 'nmc' (New Monitor Corpus) please contact
          api@oxforddictionaries.com
        explode: false
        in: path
        name: corpus
        required: true
        schema:
          default: nmc
          example: nmc
          type: string
          x-konfig-original-example: nmc
          x-konfig-generated-schema: konfig-generated-schema-paths--stats-frequency-ngrams-source_lang-corpus-ngram-size-get-parameters-1-schema
        style: simple
      - description: the size of ngrams requested (1-4)
        explode: false
        in: path
        name: ngram-size
        required: true
        schema:
          default: "2"
          example: "2"
          type: string
          x-konfig-original-example: 2
          x-konfig-generated-schema: konfig-generated-schema-paths--stats-frequency-ngrams-source_lang-corpus-ngram-size-get-parameters-2-schema
        style: simple
      - description: "List of tokens to filter. The tokens are separated by spaces,\
          \ the list items are separated by comma (e.g., for bigrams (n=2) tokens=this\
          \ is,this was, this will)"
        explode: true
        in: query
        name: tokens
        required: false
        schema:
          default: a word
          example: a word
          type: string
          x-konfig-original-example: a word
          x-konfig-generated-schema: konfig-generated-schema-paths--stats-frequency-ngrams-source_lang-corpus-ngram-size-get-parameters-3-schema
        style: form
      - description: Find ngrams containing the given token(s). Use comma or space
          as token separators; the order of tokens is irrelevant.
        explode: true
        in: query
        name: contains
        required: false
        schema:
          type: string
        style: form
      - description: Flag specifying whether to lookup ngrams that include punctuation
          or not (possible values are "true" and "false"; default is "false")
        explode: true
        in: query
        name: punctuation
        required: false
        schema:
          type: string
        style: form
      - description: Option specifying whether tokens should be returned as a single
          string (option "google") or as a list of strings (option "oup")
        explode: true
        in: query
        name: format
        required: false
        schema:
          default: oup
          example: oup
          type: string
          x-konfig-original-example: oup
          x-konfig-generated-schema: konfig-generated-schema-paths--stats-frequency-ngrams-source_lang-corpus-ngram-size-get-parameters-6-schema
        style: form
      - description: Restrict the query to entries with frequency of at least `minFrequency`
        explode: true
        in: query
        name: minFrequency
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Restrict the query to entries with frequency of at most `maxFrequency`
        explode: true
        in: query
        name: maxFrequency
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Restrict the query to entries that appear in at least `minDocumentFrequency`
          documents
        explode: true
        in: query
        name: minDocumentFrequency
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Restrict the query to entries that appera in at most `maxDocumentFrequency`
          documents
        explode: true
        in: query
        name: maxDocumentFrequency
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: "collate the results by wordform, trueCase, lemma, lexicalCategory.\
          \ Multiple values can be separated by commas (e.g., collate=trueCase,lemma,lexicalCategory)."
        explode: true
        in: query
        name: collate
        required: false
        schema:
          type: string
        style: form
      - description: "sort the resulting list by wordform, trueCase, lemma, lexicalCategory,\
          \ frequency, normalizedFrequency. Descending order is achieved by prepending\
          \ the value with the minus sign ('-'). Multiple values can be separated\
          \ by commas (e.g., sort=lexicalCategory,-frequency)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: pagination - results offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          format: int64
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--stats-frequency-ngrams-source_lang-corpus-ngram-size-get-parameters-13-schema
        style: form
      - description: pagination - results limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          example: 100
          format: int64
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--stats-frequency-ngrams-source_lang-corpus-ngram-size-get-parameters-14-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NgramsResult'
            text/csv:
              schema:
                $ref: '#/components/schemas/NgramsResult'
          description: Successful response.
        "400":
          description: |
            Invalid option name...
        "404":
          description: |
            language is not in...
        "500":
          description: |
            Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Retrieve the frequency of ngrams (1-4) derived from a corpus
      tags:
      - LexiStats
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--stats-frequency-ngrams-source_lang-corpus-ngram-size
      x-accepts: application/json
  /stats/frequency/word/{source_lang}:
    get:
      description: |
        This endpoint provides the frequency of a given word. When multiple database records match the query parameters, the returned frequency is the sum of the individual frequencies. For example, if the query parameters are lemma=test, the returned frequency will include the verb "test", the noun "test" and the adjective "test" in all forms (Test, tested, testing, etc.) <br> <br> If you are interested in the frequency of the word "test" but want to exclude other forms (e.g., tested) use the option trueCase=test. Normally, the word "test" will be spelt with a capital letter at the beginning of a sentence. The option trueCase will ignore this and it will count "Test" and "test" as the same token. If you are interested in frequencies of "Test" and "test", use the option wordform=test or wordform=Test. Note that trueCase is not just a lower case of the word as some words are genuinely spelt with a capital letter such as the word "press" in Oxford University Press. <br> <br> Parameters can be provided in PATH, GET or POST (form or json). The parameters in PATH are overriden by parameters in GET, POST and json (in that order). In PATH, individual options are separated by semicolon and values are separated by commas (where multiple values can be used). Examples:
        * PATH: /lemma=test;lexicalCategory=noun
        * GET: /?lemma=test&lexicalCategory=noun
        * POST (json):

          ```javascript
            {
              "lemma": "test",
              "lexicalCategory": "noun"
            }
          ```

        <br> One of the options wordform/trueCase/lemma/lexicalCategory has to be provided.
      operationId: LexiStats_getWordFrequency
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_lang
        required: true
        schema:
          default: en
          example: en
          type: string
          x-konfig-original-example: en
          x-konfig-generated-schema: konfig-generated-schema-paths--stats-frequency-word-source_lang-get-parameters-0-schema
        style: simple
      - description: For corpora other than 'nmc' (New Monitor Corpus) please contact
          api@oxforddictionaries.com
        explode: true
        in: query
        name: corpus
        required: false
        schema:
          default: nmc
          example: nmc
          type: string
          x-konfig-original-example: nmc
          x-konfig-generated-schema: konfig-generated-schema-paths--stats-frequency-word-source_lang-get-parameters-1-schema
        style: form
      - description: "The written form of the word to look up (preserving case e.g.,\
          \ Books vs books)"
        explode: true
        in: query
        name: wordform
        required: false
        schema:
          type: string
        style: form
      - description: The written form of the word to look up with normalised case
          (Books --> books)
        explode: true
        in: query
        name: trueCase
        required: false
        schema:
          type: string
        style: form
      - description: "The lemma of the word to look up (e.g., Book, booked, books\
          \ all have the lemma \"book\")"
        explode: true
        in: query
        name: lemma
        required: false
        schema:
          default: test
          example: test
          type: string
          x-konfig-original-example: test
          x-konfig-generated-schema: konfig-generated-schema-paths--stats-frequency-word-source_lang-get-parameters-4-schema
        style: form
      - description: "The lexical category of the word(s) to look up (e.g., noun or\
          \ verb)"
        explode: true
        in: query
        name: lexicalCategory
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsWordResult'
            text/csv:
              schema:
                $ref: '#/components/schemas/StatsWordResult'
          description: Successful response.
        "400":
          description: |
            You need to specify at least one option. Try one of 'wordform, lemma, trueCase, lexicalCategory'.
        "404":
          description: |
            language is not in...
        "500":
          description: |
            Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Retrieve the frequency of a word derived from a corpus.
      tags:
      - LexiStats
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--stats-frequency-word-source_lang
      x-accepts: application/json
  /stats/frequency/words/{source_lang}:
    get:
      description: |
        This endpoint provides a list of frequencies for a given word or words. Unlike the /word/ endpoint, the results are split into the smallest units. <br> <br> To exclude a specific value, prepend it with the minus sign ('-'). For example, to get frequencies of the lemma 'happy' but exclude superlative forms (i.e., happiest) you could use options 'lemma=happy;grammaticalFeatures=-degreeType:superlative'. <br> <br> Parameters can be provided in PATH, GET or POST (form or json). The parameters in PATH are overridden by parameters in GET, POST and json (in that order). In PATH, individual options are separated by semicolon and values are separated by commas (where multiple values can be used). <br> <br> The parameters wordform/trueCase/lemma/lexicalCategory also exist in a plural form, taking a lists of items. Examples:
        * PATH: /wordforms=happy,happier,happiest
        * GET: /?wordforms=happy&wordforms=happier&wordforms=happiest
        * POST (json):
        ```javascript
          {
            "wordforms": ["happy", "happier", "happiest"]
          }
        ```
        A mor complex example of retrieving frequencies of multiple lemmas:
        ```
          {
              "lemmas": ["happy", "content", "cheerful", "cheery", "merry", "joyful", "ecstatic"],
              "grammaticalFeatures": {
                  "adjectiveFunctionType": "predicative"
              },
              "lexicalCategory": "adjective",
              "sort": ["lemma", "-frequency"]
          }
        ```
        Some queries with "collate" or "sort" can exceed the 30s timeout, in which case the API will return an error message with status code 503. You mitigate this by providing additional restrictions such as "minFrequency" and "maxFrequency". <br> <br> You can use the parameters "offset" and "limit" to paginate through large result sets. For convenience, the HTTP header "Link" is set on the response to provide links to "first", "self", "next", "prev" and "last" pages of results (depending on the context). For example, if the result set contains 50 results and the parameter "limit" is set to 25, the Links header will contain an URL for the first 25 results and the next 25 results. <br> <br> Some libraries such as python's `requests` can parse the header automatically and offer a convenient way of iterating through the results. For example:
        ```python def get_all_results(url):
            while url:
                r = requests.get(url)
                r.raise_for_status()
                for item in r.json()['results']:
                  yield item
                url = r.links.get('next', {}).get('url')
        ```
      operationId: LexiStats_getWordFrequencies
      parameters:
      - description: IANA language code
        explode: false
        in: path
        name: source_lang
        required: true
        schema:
          default: en
          example: en
          type: string
          x-konfig-original-example: en
          x-konfig-generated-schema: konfig-generated-schema-paths--stats-frequency-words-source_lang-get-parameters-0-schema
        style: simple
      - description: For corpora other than 'nmc' (New Monitor Corpus) please contact
          api@oxforddictionaries.com
        explode: true
        in: query
        name: corpus
        required: false
        schema:
          default: nmc
          example: nmc
          type: string
          x-konfig-original-example: nmc
          x-konfig-generated-schema: konfig-generated-schema-paths--stats-frequency-words-source_lang-get-parameters-1-schema
        style: form
      - description: "The written form of the word to look up (preserving case e.g.,\
          \ Book vs book)"
        explode: true
        in: query
        name: wordform
        required: false
        schema:
          type: string
        style: form
      - description: The written form of the word to look up with normalised case
          (Books --> books)
        explode: true
        in: query
        name: trueCase
        required: false
        schema:
          type: string
        style: form
      - description: "The lemma of the word to look up (e.g., Book, booked, books\
          \ all have the lemma \"book\")"
        explode: true
        in: query
        name: lemma
        required: false
        schema:
          default: test
          example: test
          type: string
          x-konfig-original-example: test
          x-konfig-generated-schema: konfig-generated-schema-paths--stats-frequency-words-source_lang-get-parameters-4-schema
        style: form
      - description: "The lexical category of the word(s) to look up (e.g., adjective\
          \ or noun)"
        explode: true
        in: query
        name: lexicalCategory
        required: false
        schema:
          type: string
        style: form
      - description: "The grammatical features of the word(s) to look up entered as\
          \ a list of k:v (e.g., degree_type:comparative)"
        explode: true
        in: query
        name: grammaticalFeatures
        required: false
        schema:
          type: string
        style: form
      - description: "sort the resulting list by wordform, trueCase, lemma, lexicalCategory,\
          \ frequency, normalizedFrequency. Descending order is achieved by prepending\
          \ the value with the minus sign ('-'). Multiple values can be separated\
          \ by commas (e.g., sort=lexicalCategory,-frequency)"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: "collate the results by wordform, trueCase, lemma, lexicalCategory.\
          \ Multiple values can be separated by commas (e.g., collate=trueCase,lemma,lexicalCategory)."
        explode: true
        in: query
        name: collate
        required: false
        schema:
          type: string
        style: form
      - description: Restrict the query to entries with frequency of at least `minFrequency`
        explode: true
        in: query
        name: minFrequency
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Restrict the query to entries with frequency of at most `maxFrequency`
        explode: true
        in: query
        name: maxFrequency
        required: false
        schema:
          format: int64
          type: integer
        style: form
      - description: Restrict the query to entries with frequency of at least `minNormalizedFrequency`
        explode: true
        in: query
        name: minNormalizedFrequency
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: Restrict the query to entries with frequency of at most `maxNormalizedFrequency`
        explode: true
        in: query
        name: maxNormalizedFrequency
        required: false
        schema:
          format: float
          type: number
        style: form
      - description: pagination - results offset
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 0
          format: int64
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--stats-frequency-words-source_lang-get-parameters-13-schema
        style: form
      - description: pagination - results limit
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          example: 100
          format: int64
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--stats-frequency-words-source_lang-get-parameters-14-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsWordResultList'
            text/csv:
              schema:
                $ref: '#/components/schemas/StatsWordResultList'
          description: Successful response.
        "400":
          description: Invalid option name...; Option ... must have a value.; The
            option 'minFrequency' has to have an non-negative integer parameter.;
            The option 'maxFrequency' has to have an non-negative integer parameter.;
            The option 'limit' has to have an non-negative integer parameter.; The
            option 'offset' has to have an non-negative integer parameter.
        "404":
          description: |
            language is not in...
        "500":
          description: |
            Internal Error. An error occurred while processing the data.
      security:
      - appId: []
        appKey: []
      summary: Retrieve a list of frequencies of a word/words derived from a corpus.
      tags:
      - LexiStats
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--stats-frequency-words-source_lang
      x-accepts: application/json
components:
  parameters:
    appId:
      description: App ID Authentication Parameter
      explode: false
      in: header
      name: app_id
      required: true
      schema:
        default: 5037d509
        example: 5037d509
        type: string
        x-konfig-original-example: 5037d509
        x-konfig-generated-schema: konfig-generated-schema-components-parameters-appId-schema
      style: simple
      x-data-threescale-name: app_ids
    appKey:
      description: App Key Authentication Parameter
      explode: false
      in: header
      name: app_key
      required: true
      schema:
        default: 4dc1aebaa63721f0f8e79a55e2514bc7
        example: 4dc1aebaa63721f0f8e79a55e2514bc7
        type: string
        x-konfig-original-example: 4dc1aebaa63721f0f8e79a55e2514bc7
        x-konfig-generated-schema: konfig-generated-schema-components-parameters-appKey-schema
      style: simple
      x-data-threescale-name: app_keys
    entriesWordId:
      description: An Entry identifier. Case-sensitive.
      explode: false
      in: path
      name: word_id
      required: true
      schema:
        default: ace
        example: ace
        type: string
        x-konfig-original-example: ace
        x-konfig-generated-schema: konfig-generated-schema-components-parameters-entriesWordId-schema
      style: simple
    keyValFilters:
      description: Separate filtering conditions using a semicolon. Conditions take
        values grammaticalFeatures and/or lexicalCategory and are case-sensitive.
        To list multiple values in single condition divide them with comma.
      explode: false
      in: path
      name: filters
      required: true
      schema:
        example: "grammaticalFeatures=singular,past;lexicalCategory=noun"
        items:
          pattern: (lexicalCategory|grammaticalFeatures)=.+
          type: string
        type: array
        x-konfig-original-example: "grammaticalFeatures=singular,past;lexicalCategory=noun"
        x-konfig-generated-schema: konfig-generated-schema-components-parameters-keyValFilters-schema
      style: simple
    monolingual-lemmatron-source_lang:
      description: IANA language code
      explode: false
      in: path
      name: source_lang
      required: true
      schema:
        enum:
        - en
        - es
        - hi
        - nso
        - tn
        - zu
        - de
        - pt
        type: string
      style: simple
    monolingual-source_lang:
      description: IANA language code
      explode: false
      in: path
      name: source_lang
      required: true
      schema:
        enum:
        - en
        - es
        - lv
        - hi
        - sw
        - ta
        - gu
        - fr
        type: string
      style: simple
    monolingual-wordlist-source_lang:
      description: IANA language code
      explode: false
      in: path
      name: source_lang
      required: true
      schema:
        enum:
        - en
        - es
        - hi
        - lv
        - sw
        - ta
        - gu
        type: string
      style: simple
    thesaurus-source_lang:
      description: IANA language code
      explode: false
      in: path
      name: source_lang
      required: true
      schema:
        enum:
        - en
        type: string
      style: simple
  schemas:
    ArrayOfRelatedEntries:
      description: A list of written or spoken words
      items:
        $ref: '#/components/schemas/ArrayOfRelatedEntries_inner'
      minItems: 1
      type: array
    CategorizedTextList:
      description: various types of notes that appear
      items:
        $ref: '#/components/schemas/CategorizedTextList_inner'
      minItems: 1
      type: array
    CrossReferencesList:
      description: "A reference to another word that is closely related, might provide\
        \ additional information about the subject, has a variant spelling or is an\
        \ abbreviated form of it."
      items:
        $ref: '#/components/schemas/CrossReferencesList_inner'
      minItems: 1
      type: array
    Entry:
      example:
        grammaticalFeatures:
        - text: text
          type: type
        - text: text
          type: type
        homographNumber: homographNumber
        notes:
        - id: id
          text: text
          type: type
        - id: id
          text: text
          type: type
        senses:
        - notes:
          - id: id
            text: text
            type: type
          - id: id
            text: text
            type: type
          regions:
          - regions
          - regions
          domains:
          - domains
          - domains
          subsenses:
          - null
          - null
          crossReferenceMarkers:
          - crossReferenceMarkers
          - crossReferenceMarkers
          examples:
          - notes:
            - id: id
              text: text
              type: type
            - id: id
              text: text
              type: type
            regions:
            - regions
            - regions
            translations:
            - grammaticalFeatures:
              - text: text
                type: type
              - text: text
                type: type
              notes:
              - id: id
                text: text
                type: type
              - id: id
                text: text
                type: type
              regions:
              - regions
              - regions
              domains:
              - domains
              - domains
              registers:
              - registers
              - registers
              language: language
              text: text
            - grammaticalFeatures:
              - text: text
                type: type
              - text: text
                type: type
              notes:
              - id: id
                text: text
                type: type
              - id: id
                text: text
                type: type
              regions:
              - regions
              - regions
              domains:
              - domains
              - domains
              registers:
              - registers
              - registers
              language: language
              text: text
            domains:
            - domains
            - domains
            registers:
            - registers
            - registers
            text: text
            definitions:
            - definitions
            - definitions
            senseIds:
            - senseIds
            - senseIds
          - notes:
            - id: id
              text: text
              type: type
            - id: id
              text: text
              type: type
            regions:
            - regions
            - regions
            translations:
            - grammaticalFeatures:
              - text: text
                type: type
              - text: text
                type: type
              notes:
              - id: id
                text: text
                type: type
              - id: id
                text: text
                type: type
              regions:
              - regions
              - regions
              domains:
              - domains
              - domains
              registers:
              - registers
              - registers
              language: language
              text: text
            - grammaticalFeatures:
              - text: text
                type: type
              - text: text
                type: type
              notes:
              - id: id
                text: text
                type: type
              - id: id
                text: text
                type: type
              regions:
              - regions
              - regions
              domains:
              - domains
              - domains
              registers:
              - registers
              - registers
              language: language
              text: text
            domains:
            - domains
            - domains
            registers:
            - registers
            - registers
            text: text
            definitions:
            - definitions
            - definitions
            senseIds:
            - senseIds
            - senseIds
          translations:
          - grammaticalFeatures:
            - text: text
              type: type
            - text: text
              type: type
            notes:
            - id: id
              text: text
              type: type
            - id: id
              text: text
              type: type
            regions:
            - regions
            - regions
            domains:
            - domains
            - domains
            registers:
            - registers
            - registers
            language: language
            text: text
          - grammaticalFeatures:
            - text: text
              type: type
            - text: text
              type: type
            notes:
            - id: id
              text: text
              type: type
            - id: id
              text: text
              type: type
            regions:
            - regions
            - regions
            domains:
            - domains
            - domains
            registers:
            - registers
            - registers
            language: language
            text: text
          registers:
          - registers
          - registers
          variantForms:
          - regions:
            - regions
            - regions
            text: text
          - regions:
            - regions
            - regions
            text: text
          id: id
          thesaurusLinks:
          - sense_id: sense_id
            entry_id: entry_id
          - sense_id: sense_id
            entry_id: entry_id
          crossReferences:
          - id: id
            text: text
            type: type
          - id: id
            text: text
            type: type
          definitions:
          - definitions
          - definitions
          short_definitions:
          - short_definitions
          - short_definitions
          pronunciations:
          - audioFile: audioFile
            regions:
            - regions
            - regions
            phoneticNotation: phoneticNotation
            dialects:
            - dialects
            - dialects
            phoneticSpelling: phoneticSpelling
          - audioFile: audioFile
            regions:
            - regions
            - regions
            phoneticNotation: phoneticNotation
            dialects:
            - dialects
            - dialects
            phoneticSpelling: phoneticSpelling
        - notes:
          - id: id
            text: text
            type: type
          - id: id
            text: text
            type: type
          regions:
          - regions
          - regions
          domains:
          - domains
          - domains
          subsenses:
          - null
          - null
          crossReferenceMarkers:
          - crossReferenceMarkers
          - crossReferenceMarkers
          examples:
          - notes:
            - id: id
              text: text
              type: type
            - id: id
              text: text
              type: type
            regions:
            - regions
            - regions
            translations:
            - grammaticalFeatures:
              - text: text
                type: type
              - text: text
                type: type
              notes:
              - id: id
                text: text
                type: type
              - id: id
                text: text
                type: type
              regions:
              - regions
              - regions
              domains:
              - domains
              - domains
              registers:
              - registers
              - registers
              language: language
              text: text
            - grammaticalFeatures:
              - text: text
                type: type
              - text: text
                type: type
              notes:
              - id: id
                text: text
                type: type
              - id: id
                text: text
                type: type
              regions:
              - regions
              - regions
              domains:
              - domains
              - domains
              registers:
              - registers
              - registers
              language: language
              text: text
            domains:
            - domains
            - domains
            registers:
            - registers
            - registers
            text: text
            definitions:
            - definitions
            - definitions
            senseIds:
            - senseIds
            - senseIds
          - notes:
            - id: id
              text: text
              type: type
            - id: id
              text: text
              type: type
            regions:
            - regions
            - regions
            translations:
            - grammaticalFeatures:
              - text: text
                type: type
              - text: text
                type: type
              notes:
              - id: id
                text: text
                type: type
              - id: id
                text: text
                type: type
              regions:
              - regions
              - regions
              domains:
              - domains
              - domains
              registers:
              - registers
              - registers
              language: language
              text: text
            - grammaticalFeatures:
              - text: text
                type: type
              - text: text
                type: type
              notes:
              - id: id
                text: text
                type: type
              - id: id
                text: text
                type: type
              regions:
              - regions
              - regions
              domains:
              - domains
              - domains
              registers:
              - registers
              - registers
              language: language
              text: text
            domains:
            - domains
            - domains
            registers:
            - registers
            - registers
            text: text
            definitions:
            - definitions
            - definitions
            senseIds:
            - senseIds
            - senseIds
          translations:
          - grammaticalFeatures:
            - text: text
              type: type
            - text: text
              type: type
            notes:
            - id: id
              text: text
              type: type
            - id: id
              text: text
              type: type
            regions:
            - regions
            - regions
            domains:
            - domains
            - domains
            registers:
            - registers
            - registers
            language: language
            text: text
          - grammaticalFeatures:
            - text: text
              type: type
            - text: text
              type: type
            notes:
            - id: id
              text: text
              type: type
            - id: id
              text: text
              type: type
            regions:
            - regions
            - regions
            domains:
            - domains
            - domains
            registers:
            - registers
            - registers
            language: language
            text: text
          registers:
          - registers
          - registers
          variantForms:
          - regions:
            - regions
            - regions
            text: text
          - regions:
            - regions
            - regions
            text: text
          id: id
          thesaurusLinks:
          - sense_id: sense_id
            entry_id: entry_id
          - sense_id: sense_id
            entry_id: entry_id
          crossReferences:
          - id: id
            text: text
            type: type
          - id: id
            text: text
            type: type
          definitions:
          - definitions
          - definitions
          short_definitions:
          - short_definitions
          - short_definitions
          pronunciations:
          - audioFile: audioFile
            regions:
            - regions
            - regions
            phoneticNotation: phoneticNotation
            dialects:
            - dialects
            - dialects
            phoneticSpelling: phoneticSpelling
          - audioFile: audioFile
            regions:
            - regions
            - regions
            phoneticNotation: phoneticNotation
            dialects:
            - dialects
            - dialects
            phoneticSpelling: phoneticSpelling
        etymologies:
        - etymologies
        - etymologies
        variantForms:
        - regions:
          - regions
          - regions
          text: text
        - regions:
          - regions
          - regions
          text: text
        pronunciations:
        - audioFile: audioFile
          regions:
          - regions
          - regions
          phoneticNotation: phoneticNotation
          dialects:
          - dialects
          - dialects
          phoneticSpelling: phoneticSpelling
        - audioFile: audioFile
          regions:
          - regions
          - regions
          phoneticNotation: phoneticNotation
          dialects:
          - dialects
          - dialects
          phoneticSpelling: phoneticSpelling
      minProperties: 1
      properties:
        etymologies:
          items:
            type: string
          type: array
        grammaticalFeatures:
          description: The different forms are correlated with meanings or functions
            which we text as 'features'
          items:
            $ref: '#/components/schemas/GrammaticalFeaturesList_inner'
          minItems: 1
          type: array
        homographNumber:
          description: Identifies the homograph grouping. The last two digits identify
            different entries of the same homograph. The first one/two digits identify
            the homograph number.
          type: string
        notes:
          description: various types of notes that appear
          items:
            $ref: '#/components/schemas/CategorizedTextList_inner'
          minItems: 1
          type: array
        pronunciations:
          description: A list of possible pronunciations of a word
          items:
            $ref: '#/components/schemas/PronunciationsList_inner'
          minItems: 1
          type: array
        senses:
          description: Complete list of senses
          items:
            $ref: '#/components/schemas/Sense'
          minItems: 1
          type: array
        variantForms:
          description: "Various words that are used interchangeably depending on the\
            \ context, e.g 'aluminium' and 'aluminum'"
          items:
            $ref: '#/components/schemas/VariantFormsList_inner'
          minItems: 1
          type: array
      type: object
    ExamplesList:
      description: A list of written or spoken rendering of examples of use of a word
        or text
      items:
        $ref: '#/components/schemas/ExamplesList_inner'
      minItems: 1
      type: array
    Filters:
      description: Schema for the Filters endpoint.
      example:
        metadata: "{}"
        results:
          entries:
          - entries
          - entries
          wordlist:
          - wordlist
          - wordlist
          translations:
          - translations
          - translations
          inflections:
          - inflections
          - inflections
      properties:
        metadata:
          description: Additional Information provided by OUP
          type: object
        results:
          $ref: '#/components/schemas/Filters_results'
      x-konfig-is-used-in-successful-response: true
    GrammaticalFeaturesList:
      description: The different forms are correlated with meanings or functions which
        we text as 'features'
      items:
        $ref: '#/components/schemas/GrammaticalFeaturesList_inner'
      minItems: 1
      type: array
    HeadwordEntry:
      description: Description of a word
      example:
        lexicalEntries:
        - derivatives:
          - regions:
            - regions
            - regions
            domains:
            - domains
            - domains
            registers:
            - registers
            - registers
            language: language
            id: id
            text: text
          - regions:
            - regions
            - regions
            domains:
            - domains
            - domains
            registers:
            - registers
            - registers
            language: language
            id: id
            text: text
          entries:
          - grammaticalFeatures:
            - text: text
              type: type
            - text: text
              type: type
            homographNumber: homographNumber
            notes:
            - id: id
              text: text
              type: type
            - id: id
              text: text
              type: type
            senses:
            - notes:
              - id: id
                text: text
                type: type
              - id: id
                text: text
                type: type
              regions:
              - regions
              - regions
              domains:
              - domains
              - domains
              subsenses:
              - null
              - null
              crossReferenceMarkers:
              - crossReferenceMarkers
              - crossReferenceMarkers
              examples:
              - notes:
                - id: id
                  text: text
                  type: type
                - id: id
                  text: text
                  type: type
                regions:
                - regions
                - regions
                translations:
                - grammaticalFeatures:
                  - text: text
                    type: type
                  - text: text
                    type: type
                  notes:
                  - id: id
                    text: text
                    type: type
                  - id: id
                    text: text
                    type: type
                  regions:
                  - regions
                  - regions
                  domains:
                  - domains
                  - domains
                  registers:
                  - registers
                  - registers
                  language: language
                  text: text
                - grammaticalFeatures:
                  - text: text
                    type: type
                  - text: text
                    type: type
                  notes:
                  - id: id
                    text: text
                    type: type
                  - id: id
                    text: text
[...]
